USE [FPTSHOP]
GO
/****** Object:  Table [dbo].[CameraFeature]    Script Date: 11/13/2023 6:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CameraFeature](
	[CameraFeatureID] [int] NOT NULL,
	[Feature] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[CameraFeatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/13/2023 6:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CateID] [int] NOT NULL,
	[CateName] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[CateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriesSlider]    Script Date: 11/13/2023 6:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriesSlider](
	[CategoriesSliderID] [int] NOT NULL,
	[CateSliderImage] [varchar](250) NULL,
	[CateID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriesSliderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 11/13/2023 6:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[ColorID] [int] NOT NULL,
	[ColorName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ColorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 11/13/2023 6:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CusID] [int] NOT NULL,
	[CusName] [nvarchar](150) NULL,
	[CusPhone] [char](10) NULL,
	[CusGender] [bit] NULL,
	[CusEmail] [varchar](150) NULL,
	[CusPassword] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[CusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 11/13/2023 6:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemID] [int] NOT NULL,
	[OrderID] [int] NULL,
	[Quantity] [int] NULL,
	[ProductDetailID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/13/2023 6:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] NOT NULL,
	[CusID] [int] NULL,
	[OrderDate] [datetime] NULL,
	[AddressDelivery] [nvarchar](250) NULL,
	[PaymentMethodID] [int] NULL,
	[OrderStatus] [nvarchar](250) NULL,
	[ReceiverName] [nvarchar](250) NULL,
	[ReceiverPhone] [char](10) NULL,
	[TotalPrice] [decimal](18, 0) NULL,
	[LastPrice] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 11/13/2023 6:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[PaymentMethodID] [int] NOT NULL,
	[PaymentMethodName] [nvarchar](250) NULL,
	[PaymentMethodImage] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentMethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerformanceBattery]    Script Date: 11/13/2023 6:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerformanceBattery](
	[PerformanceBatteryID] [int] NOT NULL,
	[Performance] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[PerformanceBatteryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/13/2023 6:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] NOT NULL,
	[CateID] [int] NULL,
	[ProName] [nvarchar](150) NULL,
	[ProDecription] [nvarchar](max) NULL,
	[Screen] [varchar](100) NULL,
	[Camera] [varchar](100) NULL,
	[CameraSelfie] [varchar](100) NULL,
	[Cpu] [varchar](100) NULL,
	[Battery] [varchar](100) NULL,
	[Sim] [varchar](100) NULL,
	[OperatingSystem] [varchar](50) NULL,
	[Origin] [nvarchar](100) NULL,
	[LaunchTime] [int] NULL,
	[PerformanceBatteryID] [int] NULL,
	[ScreenSizeID] [int] NULL,
	[ProImage] [varchar](250) NULL,
	[ProDescriptionTitle] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCamera]    Script Date: 11/13/2023 6:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCamera](
	[CameraFeatureID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CameraFeatureID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetail]    Script Date: 11/13/2023 6:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetail](
	[ProductDetailID] [int] NOT NULL,
	[ProductID] [int] NULL,
	[ColorID] [int] NULL,
	[NewPrice] [decimal](18, 0) NULL,
	[OldPrice] [decimal](18, 0) NULL,
	[RamID] [int] NULL,
	[StorageID] [int] NULL,
	[ColorImage] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDiscounts]    Script Date: 11/13/2023 6:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDiscounts](
	[DiscountID] [int] NOT NULL,
	[ProductDetailID] [int] NULL,
	[DiscountType] [nvarchar](150) NULL,
	[DiscountValue] [decimal](18, 0) NULL,
	[DiscountDecription] [nvarchar](max) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductNews]    Script Date: 11/13/2023 6:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductNews](
	[ProductNewsID] [int] NOT NULL,
	[NewsTitle] [nvarchar](250) NULL,
	[NewsImage] [varchar](250) NULL,
	[NewsTags] [varchar](100) NULL,
	[ProductID] [int] NULL,
	[TypeNews] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductNewsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductQuestion]    Script Date: 11/13/2023 6:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductQuestion](
	[QuestionID] [int] NOT NULL,
	[QuestionTitle] [nvarchar](250) NULL,
	[Answer] [nvarchar](250) NULL,
	[ProductID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSlider]    Script Date: 11/13/2023 6:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSlider](
	[ProductSliderID] [int] NOT NULL,
	[ProductSliderImage] [nvarchar](250) NULL,
	[ProductID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductSliderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ram]    Script Date: 11/13/2023 6:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ram](
	[RamID] [int] NOT NULL,
	[RamName] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[RamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScreenSize]    Script Date: 11/13/2023 6:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScreenSize](
	[ScreenSizeID] [int] NOT NULL,
	[Size] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ScreenSizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Storage]    Script Date: 11/13/2023 6:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Storage](
	[StorageID] [int] NOT NULL,
	[StorageName] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[StorageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/13/2023 6:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CameraFeature] ([CameraFeatureID], [Feature]) VALUES (1, N'Quay phim slow motion')
INSERT [dbo].[CameraFeature] ([CameraFeatureID], [Feature]) VALUES (2, N'Ai camera')
INSERT [dbo].[CameraFeature] ([CameraFeatureID], [Feature]) VALUES (3, N'Hiệu ứng làm đẹp')
GO
INSERT [dbo].[Categories] ([CateID], [CateName]) VALUES (1, N'Samsung')
GO
INSERT [dbo].[CategoriesSlider] ([CategoriesSliderID], [CateSliderImage], [CateID]) VALUES (1, N'~/images/promotion-slider1.1.jpg', 1)
INSERT [dbo].[CategoriesSlider] ([CategoriesSliderID], [CateSliderImage], [CateID]) VALUES (2, N'~/images/promotion-slider1.2.jpg', 1)
INSERT [dbo].[CategoriesSlider] ([CategoriesSliderID], [CateSliderImage], [CateID]) VALUES (3, N'~/images/promotion-slider1.3.jpg', 1)
GO
INSERT [dbo].[Color] ([ColorID], [ColorName]) VALUES (1, N'Đen')
INSERT [dbo].[Color] ([ColorID], [ColorName]) VALUES (2, N'Xanh lá')
INSERT [dbo].[Color] ([ColorID], [ColorName]) VALUES (3, N'Trắng')
GO
INSERT [dbo].[Customer] ([CusID], [CusName], [CusPhone], [CusGender], [CusEmail], [CusPassword]) VALUES (1, N'nguyễn duy thắng', N'0336971705', 1, N'nguyenduythang1392004@gmail.com', N'ThangDepZai')
INSERT [dbo].[Customer] ([CusID], [CusName], [CusPhone], [CusGender], [CusEmail], [CusPassword]) VALUES (2, N'lữ trung tín', N'0336971722', 1, N'lutrungtin@gmail.com', N'lutrungtin123')
GO
INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [Quantity], [ProductDetailID]) VALUES (1, 1, 1, 1)
GO
INSERT [dbo].[Orders] ([OrderID], [CusID], [OrderDate], [AddressDelivery], [PaymentMethodID], [OrderStatus], [ReceiverName], [ReceiverPhone], [TotalPrice], [LastPrice]) VALUES (1, 1, CAST(N'2023-11-05T00:00:00.000' AS DateTime), N'312, quang trung, phường 10, gò vấp', 1, N'1', N'nguyễn duy thắng', N'0336971705', CAST(5990000 AS Decimal(18, 0)), CAST(5190000 AS Decimal(18, 0)))
GO
INSERT [dbo].[PaymentMethods] ([PaymentMethodID], [PaymentMethodName], [PaymentMethodImage]) VALUES (1, N'Thanh toán khi nhận hàng', N'~/images/ThanhToanKhiNhanHang.png')
INSERT [dbo].[PaymentMethods] ([PaymentMethodID], [PaymentMethodName], [PaymentMethodImage]) VALUES (2, N'Thanh toán bằng thẻ ATM nội địa (Qua VNPay)', N'~/images/vnpay.png')
INSERT [dbo].[PaymentMethods] ([PaymentMethodID], [PaymentMethodName], [PaymentMethodImage]) VALUES (3, N'Thanh toán bằng thẻ quốc tế Visa, Master, JCB, AMEX', N'~/images/card.png')
GO
INSERT [dbo].[PerformanceBattery] ([PerformanceBatteryID], [Performance]) VALUES (1, N'Dưới 3000 mah')
INSERT [dbo].[PerformanceBattery] ([PerformanceBatteryID], [Performance]) VALUES (2, N'Pin từ 3000 - 4000 mah')
INSERT [dbo].[PerformanceBattery] ([PerformanceBatteryID], [Performance]) VALUES (3, N'Pin từ 4000 - 5000 mah')
GO
INSERT [dbo].[ProductCamera] ([CameraFeatureID], [ProductID]) VALUES (1, 10)
INSERT [dbo].[ProductCamera] ([CameraFeatureID], [ProductID]) VALUES (2, 4)
INSERT [dbo].[ProductCamera] ([CameraFeatureID], [ProductID]) VALUES (2, 10)
GO
INSERT [dbo].[ProductDetail] ([ProductDetailID], [ProductID], [ColorID], [NewPrice], [OldPrice], [RamID], [StorageID], [ColorImage]) VALUES (1, 1, 1, CAST(5190000 AS Decimal(18, 0)), CAST(5990000 AS Decimal(18, 0)), 1, 3, N'~/images/samsung-a23-den.jpg')
INSERT [dbo].[ProductDetail] ([ProductDetailID], [ProductID], [ColorID], [NewPrice], [OldPrice], [RamID], [StorageID], [ColorImage]) VALUES (2, 1, 5, CAST(5190000 AS Decimal(18, 0)), CAST(5990000 AS Decimal(18, 0)), 1, 3, N'~/images/samsung-a23-xanh.jpg')
INSERT [dbo].[ProductDetail] ([ProductDetailID], [ProductID], [ColorID], [NewPrice], [OldPrice], [RamID], [StorageID], [ColorImage]) VALUES (3, 2, 1, CAST(3690000 AS Decimal(18, 0)), CAST(4490000 AS Decimal(18, 0)), 1, 3, N'~/images/samsung-a14-den.jpg')
GO
INSERT [dbo].[ProductNews] ([ProductNewsID], [NewsTitle], [NewsImage], [NewsTags], [ProductID], [TypeNews]) VALUES (1, N'Mua Galaxy A23 5G tại FPT Shop, nhận combo quà liền tay', N'~/images/samsung-a23-new1.jpg', N'Galaxy A23', 1, N'Tin tức')
INSERT [dbo].[ProductNews] ([ProductNewsID], [NewsTitle], [NewsImage], [NewsTags], [ProductID], [TypeNews]) VALUES (2, N'Samsung ra mắt Galaxy A23 5G tại VN: Snapdragon 695, màn hình 120Hz, 4 camera 50MP, giá chỉ 6.69 triệu', N'~/images/samsung-a23-new2.jpg', N'Samsung Galaxy A 2022', 1, N'Tin tức')
INSERT [dbo].[ProductNews] ([ProductNewsID], [NewsTitle], [NewsImage], [NewsTags], [ProductID], [TypeNews]) VALUES (3, N'FPT Shop tặng ưu đãi thiết thực cho chủ sở hữu Galaxy A23', N'~/images/samsung-a23-new3.jpg', N'FPT Shop', 1, N'Tin tức')
GO
INSERT [dbo].[ProductQuestion] ([QuestionID], [QuestionTitle], [Answer], [ProductID]) VALUES (1, N'Samsung Galaxy A23 5G có cảm biến vân tay không?', N'Samsung Galaxy A23 5G có cảm biến vân tay ngay nút nguồn, giúp mở khóa nhanh chóng, chỉ cần chạm nút nguồn, máy đã sẵn sàng để bạn trải nghiệm.', 1)
INSERT [dbo].[ProductQuestion] ([QuestionID], [QuestionTitle], [Answer], [ProductID]) VALUES (2, N'Pin Samsung Galaxy A23 5G sử dụng trong bao lâu?', N'Samsung Galaxy A23 5G có viên pin lớn 5.000mAh, cho phép bạn sử dụng cả ngày dài. Nếu chỉ dùng cơ bản, có thể kéo dài đến 2 ngày.', 1)
INSERT [dbo].[ProductQuestion] ([QuestionID], [QuestionTitle], [Answer], [ProductID]) VALUES (3, N'
Samsung Galaxy A23 5G chơi game được không?', N'Samsung Galaxy A23 5G sở hữu con chip mạnh Snapdragon 695, đi kèm 4GB RAM, màn 120Hz cùng chế độ Game Booster mang tới khả năng chơi game tốt cho người dùng.', 1)
GO
INSERT [dbo].[ProductSlider] ([ProductSliderID], [ProductSliderImage], [ProductID]) VALUES (1, N'~/images/slider-samsung-a23-1.jpg', 1)
INSERT [dbo].[ProductSlider] ([ProductSliderID], [ProductSliderImage], [ProductID]) VALUES (2, N'~/images/slider-samsung-a23-2.jpg', 1)
INSERT [dbo].[ProductSlider] ([ProductSliderID], [ProductSliderImage], [ProductID]) VALUES (3, N'~/images/slider-samsung-a23-3.jpg', 1)
GO
INSERT [dbo].[Ram] ([RamID], [RamName]) VALUES (1, N'4GB')
INSERT [dbo].[Ram] ([RamID], [RamName]) VALUES (2, N'8GB')
INSERT [dbo].[Ram] ([RamID], [RamName]) VALUES (3, N'12GB')
GO
INSERT [dbo].[ScreenSize] ([ScreenSizeID], [Size]) VALUES (1, N'Màn hình nhỏ: dưới 5.0 inch')
INSERT [dbo].[ScreenSize] ([ScreenSizeID], [Size]) VALUES (2, N'Nhỏ gọn vừa tay: dưới 6.0 inch, tràn viền')
INSERT [dbo].[ScreenSize] ([ScreenSizeID], [Size]) VALUES (3, N'Trên 6.0 inch')
GO
INSERT [dbo].[Storage] ([StorageID], [StorageName]) VALUES (1, N'32GB')
INSERT [dbo].[Storage] ([StorageID], [StorageName]) VALUES (2, N'64GB')
INSERT [dbo].[Storage] ([StorageID], [StorageName]) VALUES (3, N'128GB')
GO
ALTER TABLE [dbo].[CategoriesSlider]  WITH CHECK ADD FOREIGN KEY([CateID])
REFERENCES [dbo].[Categories] ([CateID])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_ProductDetail] FOREIGN KEY([ProductDetailID])
REFERENCES [dbo].[ProductDetail] ([ProductDetailID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_ProductDetail]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CusID])
REFERENCES [dbo].[Customer] ([CusID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([PaymentMethodID])
REFERENCES [dbo].[PaymentMethods] ([PaymentMethodID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CateID])
REFERENCES [dbo].[Categories] ([CateID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([PerformanceBatteryID])
REFERENCES [dbo].[PerformanceBattery] ([PerformanceBatteryID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([ScreenSizeID])
REFERENCES [dbo].[ScreenSize] ([ScreenSizeID])
GO
ALTER TABLE [dbo].[ProductCamera]  WITH CHECK ADD FOREIGN KEY([CameraFeatureID])
REFERENCES [dbo].[CameraFeature] ([CameraFeatureID])
GO
ALTER TABLE [dbo].[ProductCamera]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ProductDetail]  WITH CHECK ADD FOREIGN KEY([ColorID])
REFERENCES [dbo].[Color] ([ColorID])
GO
ALTER TABLE [dbo].[ProductDetail]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ProductDetail]  WITH CHECK ADD FOREIGN KEY([RamID])
REFERENCES [dbo].[Ram] ([RamID])
GO
ALTER TABLE [dbo].[ProductDetail]  WITH CHECK ADD FOREIGN KEY([StorageID])
REFERENCES [dbo].[Storage] ([StorageID])
GO
ALTER TABLE [dbo].[ProductDiscounts]  WITH CHECK ADD FOREIGN KEY([ProductDetailID])
REFERENCES [dbo].[ProductDetail] ([ProductDetailID])
GO
ALTER TABLE [dbo].[ProductNews]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ProductQuestion]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ProductSlider]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
